/**************************/
/* BELOW 1344px(Laptops)*/
/**************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
/**************************/
/* BELOW 1200px(Tablets)*/
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px/ 16px*/
    font-size: 56.25%;
  }
}
